
/* Colour Palette */

$primary-color: #FFFFFF;
$secondary-color: #FFFFFF;
$primary-color-accent: #FFFFFF;
$secondary-color-accent: #FFFFFF;
$font-header-color: #000000;
$font-header-color-secondary: #FFFFFF;
$font-body-color: #FFFFFF;
$success-color: #FFFFFF;
$warning-color: #FFFFFF;
$error-color: #FFFFFF;