
/* Global Styling */

// Colour Palette //

$primary-color: #FFFFFF;
$secondary-color: #FFFFFF;
$primary-color-accent: #FFFFFF;
$secondary-color-accent: #FFFFFF;
$font-header-color: #000000;
$font-header-color-secondary: #FFFFFF;
$font-body-color: #FFFFFF;
$success-color: #FFFFFF;
$warning-color: #FFFFFF;
$error-color: #FFFFFF;

// Media Querys //

@mixin query-300() {

    @media only screen and (max-width: 300px) {
        @content;
    }
}

@mixin query-400() {

    @media only screen and (max-width: 400px) {
        @content;
    }
}

@mixin query-500() {

    @media only screen and (max-width: 500px) {
        @content;
    }
}

@mixin query-600() {

    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin query-700() {

    @media only screen and (max-width: 700px) {
        @content;
    }
}

@mixin query-800() {
    
    @media only screen and (max-width: 800px) {
        @content;
    }
}

@mixin query-900() {

    @media only screen and (max-width: 900px) {
        @content;
    }
}

@mixin query-1000() {

    @media only screen and (max-width: 1000px) {
        @content;
    }
}

@mixin query-1100() {

    @media only screen and (max-width: 1100px) {
        @content;
    }
}

@mixin query-1200() {

    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin query-1300() {

    @media only screen and (max-width: 1300px) {
        @content;
    }
}

@mixin query-1400() {

    @media only screen and (max-width: 1400px) {
        @content;
    }
}

@mixin query-1500() {

    @media only screen and (max-width: 1500px) {
        @content;
    }
}

@mixin query-1600() {

    @media only screen and (max-width: 1600px) {
        @content;
    }
}

@mixin query-1700() {

    @media only screen and (max-width: 1700px) {
        @content;
    }
}

@mixin query-1800() {

    @media only screen and (max-width: 1800px) {
        @content;
    }
}

@mixin query-1900() {

    @media only screen and (max-width: 1900px) {
        @content;
    }
}

@mixin query-widescreen() {

    @media only screen and (min-width: 1900px) {
        @content;
    }
}

// Containers //

@mixin flex-row-centre{

    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-centre{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Buttons //

.button{

    width: auto;
    height: auto;
    padding: 1rem;
    cursor: pointer;
}

.button:focus{

    outline: 0;
}

// Icons //

.icon{

    width: 3rem;
    height: auto;
}

.svg-icon-hover{

    cursor: pointer;
    transition: ease-in-out 0.3s;
}

svg:hover .svg-icon-hover{

    fill: $primary-color-accent;
}

// Transition

@mixin transition-ease{

    transition: 0.3s ease all;
}

// Media //

