
/* Positioning */

// Container Positioning //

@mixin flex-row-center {

    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-center-start {

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-column-center-start {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-row-center-between {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-center-between {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// Element Spacing //

$gap-spacing: 0.25rem;
$extra-small-spacing: 0.5rem;

$small-spacing: 1rem;
$small-medium-spacing: 1.5rem;
$medium-spacing: 2rem;
$large-spacing: 3rem;

$small-section-spacing: 4.5rem;
$section-spacing: 6rem;
$large-section-spacing: 7.5rem;

$gutter-spacing: 5%;

$item-container--l: 560px;
$item-container: 500px;
$item-container--m: 415px;
$item-container--s: 400px;

// Containers //

.content-container {

    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}