
/* Styling Reset */

    
// Box Sizing //

html {

    box-sizing: border-box;
}
  
*,
*::before,
*::after {

    box-sizing: inherit;
}

// Margins & Paddings //
  
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {

    margin: 0;
    padding: 0;
}

// Lists //
  
ul {

    list-style: none;
}
  
//Forms & Buttons //

input,
textarea,
select,
button {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}
  
input[type="text"],
textarea {

    width: 100%;
}
  
input,
textarea,
button {

    border: 1px solid gray;
}
  
button {

    padding: 0.75em 1em;
    border-radius: 0;
    line-height: 1;
    background-color: transparent;
}
  
button * {

    pointer-events: none;
}
  
// Media Elements //

img,
svg,
iframe,
video,
object,
embed {

    display: block;
    max-width: 100%;
}
  
// Tables //

table{

    table-layout: fixed;
    width: 100%;
}
  
// Hidden Attr //

[hidden] {

    display: none !important;
}
  
// No Script //

noscript {

    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}